<table>
  <tbody>
    <tr>
      <td>
        <span>Para bases de dados muito grandes isso pode causar uma queda na performance da aplicaçao em algumas paginas</span>
      </td>
    </tr>
    <tr>
      <td> Ativar configuração por 2 campos personalizados</td>
      <td>
        <%= check_box_tag 'settings[two_custom_fields_available]', true, settings['two_custom_fields_available'] %>
      </td>
    </tr>
  </tbody>
</table>
