<div id='widget_performance_per_fte_container'>
  <div id='performance_per_fte_container'>
    <h2><%= t("performance_per_fte.title") %></h2>
    <canvas id="performance_per_fteChart"></canvas>
    <div  id="performance_per_fte_legend" class="legend" > </div>
  </div>
</div>
