<h1>Lista de Dashboards</h1>

<p>
  <%= link_to 'Configurar Widgets', redmine_widgets_path %>
</p>
<hr />
<p>
  <%= link_to 'Novo Dashboard', new_dashboard_widget_path %>
</p>

<%= render 'cruj_cruj_cruj/list_table' %>
