<h2>Top 10 Fornecedores - Por quantidade de chamados</h2>
<canvas id="customer_by_issue_numberChart" width="1000" height="600"></canvas>
<div  id="customer_by_issue_number_legend" class='legend' style='float: right;' width='50'> </div>
<div id="total">
  <div>
    <h3>Total de chamados com nota fiscal</h3>
    <h4 id='customer_by_issue_numberChart_total_nf'></h3>
  </div>

  <div>
    <h3>Total de chamados sem nota fiscal</h3>
    <h4 id='customer_by_issue_numberChart_total_snf'></h3>
  </div>
</div>
