<h2>Novos chamados - Últimos 12 meses</h2>
<canvas id="new_by_tracker_by_contactChart" width="1000" height="400"></canvas>
<div  id="new_by_tracker_by_contact_legend" class='legend' style='float: right;' width='50'> </div>
