<h1><%= link_to("#{issue.tracker.name} ##{issue.id}: #{issue.subject}", issue_url) %></h1>

<%= "#{t(:created_by)} #{issue.author.name}" %>
<hr />
<%= render_email_issue_attributes(issue, users.first, true) %>