<div class='redmine_dashboard_answered_by_level_sla'>
  <h2>Chamados Fechados</h2>
  <canvas id="answered_by_level_sla_on_time_percentage_chart" width="1000" height="400"></canvas>
  <div  id="answered_by_level_sla_on_time_percentage_legend" class='legend' style='float: right;' width='50'> </div>
</div>
<div class='redmine_dashboard_answered_by_level_sla'>
  <h2>Chamados Fechados - N1/N2</h2>
  <canvas id="answered_by_level_sla_on_time_chart" width="1000" height="400"></canvas>
  <div  id="answered_by_level_sla_on_time_legend" class='legend' style='float: right;' width='50'> </div>
  <div id="total">
    <div>
      <h3>Total de chamados fechados no primeiro nível no período</h3>
      <h4 id='answered_by_level_sla_on_time_accumulated_n1'></h4>
    </div>

    <div>
      <h3>Total de chamados fechados com atuação do segundo nível no período</h3>
      <h4 id='answered_by_level_sla_on_time_accumulated_n2'></h4>
    </div>

    <div>
      <h3>Total de chamados fechados no período</h3>
      <h4 id='answered_by_level_sla_on_time_accumulated_total'></h4>
    </div>
  </div>
</div>
