<table>
  <tbody>
    <tr>
      <th><%=l(:max_number_rows)%>:</th>
      <td>
        <input type="text" value="<%= settings['max_number_rows'] %>" name="settings[max_number_rows]" >
      </td>
    </tr>
  </tbody>
</table>
