<h2><%= t('label_import_issues') %></h2>
<%= render partial: "form", locals: { default_projects: @default_projects,
                                      import: @import,
                                      import_trackers: @import_trackers,
                                      import_custom_fields: @import_custom_fields,
                                      import_templates: @import_templates } %>
