<div>  
  <div style="float: left;">
    <%= link_to t('link.sla'), vsg_sla_slas_path %>
  </div>
  <br>
  <div style="float: left;">
    <%= link_to t('link.office_hour'), vsg_sla_office_hours_path %>
  </div>
</div>
