<h1>Lista de Widgets</h1>

<p>
  <%= link_to 'Configurar Dashboards', dashboard_widgets_path %>
</p>
<hr />
<p>
  <%= link_to 'Novo Widget', new_redmine_widget_path %>
</p>

<%= render 'cruj_cruj_cruj/list_table' %>
